{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load common_tags %}

{% block body_class %}template-outreachbloghomepage{% endblock %}

{% block content %}
    <h1>News</h1>

    {% include "blog/_pagination.html"%}

    <div>
        {% for blog in resources %}
        <article class="mb4">
            <div>
                <a href="{{ blog.url }}" class="link">
                    <h2 class="mb0">{{ blog.title }}</h3>
                </a>
            </div>
            <small>By {{ blog.specific.blog_author }}, {{ blog.specific.blog_date }}</small>

            <p>{{ blog.specific.body  | truncatewords_html:50 }}</p>
            <a href="{{ blog.url }}" class="btn bg-info white m0">Read more</a>
        </article>
        {% endfor %}
    </div>
    <div class="mt4">
    {% include "blog/_pagination.html"%}
    </div>
{% endblock %}
