{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load common_tags %}

{% block body_class %}template-membercalendarhomepage{% endblock %}

{% block extra_title %}
  - Events for {{ month_name }} {{ year }}
{% endblock %}

{% block content %}
  <div class="measure-wide center">
    <h1 class="mt5 mb4 fw3 f-title meaure center">{{ page.title|safe }}</h1>
    {{ page.intro|safe }}
  </div>

  {% for event in events %}
  <a href="{% pageurl event %}" class="link">
    <div class="card col bg-info white">
      <h5 class="white">{{ event }}</h5>
      <small class="white">{{ event.specific.event_date }} @ {{event.specific.event_start_time }}</small>
    </div>
  </a>
  {% endfor %}
{% endblock %}
