{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load common_tags %}

{% block body_class %}template-membercalendarhomepage{% endblock %}

{% block extra_title %}
  - Events for {{ month_name }} {{ year }}
{% endblock %}

{% block content %}
  <div>
    <h1>{{ page.title|safe }}</h1>
    {{ page.intro|safe }}
  </div>

<div class="cal-grid">
  {% for event in events %}
    <a href="{% pageurl event %}" class="dib card bg-info white link jss">
      <h5 class="white mv">{{ event }}</h5>
      <small class="white">{{ event.specific.event_date }} @ {{event.specific.event_start_time }}</small>
    </a>
  {% endfor %}
</div>
{% endblock %}
